<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CrossBrowser">
  <test name="Chrome Test">
  <parameter name="browsername" value="Chrome"/>
  <classes><class name="OrmucoLoginE2ETest.OrmucoLoginE2ETest"/></classes>
  </test> <!-- Test -->
  
  <test name="Firefox Test">
  <parameter name="browsername" value="Firefox"/>
  <classes><class name="OrmucoLoginE2ETest.OrmucoLoginE2ETest"/></classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
